In [166]:
import json
import requests
import os
import pandas as pd
from config import api_key_NBA
from pprint import pprint

In [167]:
url = "https://api-nba-v1.p.rapidapi.com/players/teamId"

In [168]:
gameID = input("Which Team? ")

Which Team? 10

In [169]:
query_url = f"{url}/{gameID}"

In [170]:
response = requests.get(query_url,
  headers={
    "X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com",
    "X-RapidAPI-Key": api_key_NBA
  }
)

In [172]:
team_details = response.json()
players = team_details["api"]["players"]

In [173]:
player_list_id = []
player_list_first_name = []
player_list_last_name = []

for player in players:
#    print(player["firstName"], player["lastName"])
    player_list_id.append(player["playerId"])
    player_list_first_name.append(player["firstName"])
    player_list_last_name.append(player["lastName"])

In [175]:
df = pd.DataFrame({
"Player Id": player_list_id,
"Name": player_list_first_name,
"Last Name": player_list_last_name
})
df

   Player Id       Name     Last Name
0         57      Steve         Blake
1         88       Jose      Calderon
2        147      Andre      Drummond
3        179        Tim       Frazier
4        182   Langston      Galloway
5        208      Blake       Griffin
6        264     Reggie       Jackson
7        335       Thon         Maker
8        349      Chris    McCullough
9        374   Markieff        Morris
10       388     Jameer        Nelson
11       408       Zaza      Pachulia
12       451      Glenn  Robinson III
13       456    Derrick          Rose
14       492       Tony         Snell
15       545     Isaiah     Whitehead
16       793     Reggie         Hearn
17       814       Luke       Kennard
18       944      Bruce         Brown
19       968     Keenan         Evans
20       991      Kalin         Lucas
21      1006        Svi    Mykhailiuk
22      1033      Khyri        Thomas
23      1366      Larry       Drew II
24      1371     Nnanna          Egwu
25      1404       Eric       Griffin
26      1408     Johnny      Hamilton
27      1434        Max        Hooper
28      1501     Scotty       Lindsey
29      1502       Zack        Lofton
30      1541      Jamel        Morris
31      1655     Jarrod        Uthoff
32      1665       Kyle    Washington
33      1850     Jordan          Bone
34      1856      Sekou     Doumbouya
35      1894   Deividas      Sirvydis
36      2107    Michael    Bethea Jr.
37      2108     Bennie    Boatwright
38      2114       Will        Cherry
39      2117       Matt      Costello
40      2131      Louis          King
41      2156       Todd       Withers
42      2223      Donta          Hall
43      2224       Matt       McQuaid
44      2225  Marcquise          Reed