In [1]:
import json
import requests
import os
import pandas as pd
import matplotlib.pyplot as plt
from config import api_key_NBA_fer
from pprint import pprint

In [ ]:
#hay que obtener los juegos solo de la temporada pasada

In [2]:
teamlist_id = [1,2,4,5,6,7,8,9,10,11,14,15,16,17,19,20,21,22,23,24,25,26,27,28,29,30,31,38,40,41]
teamlist_names = ["Atlanta Hawks","Boston Celtics","Brooklyn Nets","Charlotte Hornets","Chicago Bulls","Cleveland Cavaliers","Dallas Mavericks","Denver Nuggets","Detroit Pistons","Golden State Warriors","Houston Rockets","Indiana Pacers","LA Clippers","Los Angeles Lakers","Memphis Grizzlies","Miami Heat","Milwaukee Bucks","Minnesota Timberwolves","New Orleans Pelicans","New York Knicks","Oklahoma City Thunder","Orlando Magic","Philadelphia 76ers","Phoenix Suns","Portland Trail Blazers","Sacramento Kings","San Antonio Spurs","Toronto Raptors","Utah Jazz","Washington Wizards"]

In [4]:
teams_df = pd.DataFrame({
"Team Id": teamlist_id,
"Team Name": teamlist_names
})
teams_df

    Team Id               Team Name
0         1           Atlanta Hawks
1         2          Boston Celtics
2         4           Brooklyn Nets
3         5       Charlotte Hornets
4         6           Chicago Bulls
5         7     Cleveland Cavaliers
6         8        Dallas Mavericks
7         9          Denver Nuggets
8        10         Detroit Pistons
9        11   Golden State Warriors
10       14         Houston Rockets
11       15          Indiana Pacers
12       16             LA Clippers
13       17      Los Angeles Lakers
14       19       Memphis Grizzlies
15       20              Miami Heat
16       21         Milwaukee Bucks
17       22  Minnesota Timberwolves
18       23    New Orleans Pelicans
19       24         New York Knicks
20       25   Oklahoma City Thunder
21       26           Orlando Magic
22       27      Philadelphia 76ers
23       28            Phoenix Suns
24       29  Portland Trail Blazers
25       30        Sacramento Kings
26       31       San Antonio Spurs
27       38         Toronto Raptors
28       40               Utah Jazz
29       41      Washington Wizards

In [7]:
teamID = input("Choose a team from above ")
team_url = "https://api-nba-v1.p.rapidapi.com/players/teamId"

Choose a team from above 21

In [8]:
query_url = f"{team_url}/{teamID}"
query_url

'https://api-nba-v1.p.rapidapi.com/players/teamId/21'

In [9]:
team_response = requests.get(query_url,
  headers={
    "X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com",
    "X-RapidAPI-Key": api_key_NBA_fer
  }
)

In [10]:
team_details = team_response.json()
players = team_details["api"]["players"]

In [11]:
player_list_id = []
player_list_first_name = []
player_list_last_name = []

for player in players:
    player_list_id.append(player["playerId"])
    player_list_first_name.append(player["firstName"])
    player_list_last_name.append(player["lastName"])

In [30]:
df = pd.DataFrame({
"Player Id": player_list_id,
"Name": player_list_first_name,
"Last Name": player_list_last_name
})
df

   Player Id      Name      Last Name
0         20   Giannis  Antetokounmpo
1         59      Eric        Bledsoe
2        115       Pat    Connaughton
3        185       Pau          Gasol
4        237    George           Hill
5        257     Ersan       Ilyasova
6        259    Damien         Inglis
7        269   Brandon       Jennings
8        316       Jon          Leuer
9        323     Brook          Lopez
10       325     Robin          Lopez
11       341    Wesley       Matthews
12       342      O.J.           Mayo
13       361     Khris      Middleton
14       367    Nikola        Mirotic
15       379   Shabazz       Muhammad
16       425  Marshall        Plumlee
17       508     Jason          Terry
18       751  Sterling          Brown
19       844    Jaylen         Morris
20       899      D.J.         Wilson
21       954    Bonzie         Colson
22       962     Donte     DiVincenzo
23      1269    Jordan        Barnett
24      1273      Trae    Bell Haynes
25      1279     James   Blackmon Jr.
26      1308    Elijah         Bryant
27      1329        TJ          Cline
28      1373     Perry          Ellis
29      1485      Jock        Landale
30      1498    JeQuan          Lewis
31      1586       Tim     Quarterman
32      1651    Travis       Trice II
33      1658     Craig         Victor
34      2121      Matt        Farrell
35      2123    Johnny       Hamilton
36      2135      Zach         Lofton
37      2137      Luke           Maye
38      2142    Xavier        Munford
39      2152    Rayjon         Tucker
40      2220      Kris        Clyburn
41      2221   Daulton         Hommes
42      2222  Fletcher          Magee

In [14]:
player_data = []
for player in player_list_id:
    player_response = requests.get(f"https://api-nba-v1.p.rapidapi.com/statistics/players/playerId/{player}", headers={"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com","X-RapidAPI-Key": api_key_NBA_fer})
    print(player_response)
    player_json = player_response.json()
    player_data.append(player_json)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [17]:
player_data[0]["api"]["statistics"][0]

{'gameId': '13',
 'teamId': '21',
 'points': '6',
 'pos': 'F',
 'min': '17:27',
 'fgm': '3',
 'fga': '6',
 'fgp': '50.0',
 'ftm': '0',
 'fta': '2',
 'ftp': '0.0',
 'tpm': '0',
 'tpa': '0',
 'tpp': '0.0',
 'offReb': '1',
 'defReb': '6',
 'totReb': '7',
 'assists': '1',
 'pFouls': '2',
 'steals': '2',
 'turnovers': '3',
 'blocks': '0',
 'plusMinus': '4',
 'playerId': '20'}

In [18]:
player_statistics = []
for player in player_data:
    player_statistics.append(player["api"]["statistics"])

In [19]:
games_count = []
for p in player_statistics:
    games_count.append(len(p))

In [20]:
df2 = df[["Player Id", "Name", "Last Name"]]
df2["Games Played"] = games_count
df2.head()

  Player Id     Name      Last Name  Games Played
0        20  Giannis  Antetokounmpo           367
1        59     Eric        Bledsoe           310
2       115      Pat    Connaughton           392
3       185      Pau          Gasol           311
4       237   George           Hill           363

In [21]:
game_ids = []
player_ids = []
offrebs = []
defrebs = []
plusminus = []
minutes = []

for o in player_data:
    for f in o["api"]["statistics"]:
        game_ids.append(f["gameId"])
        player_ids.append(f["playerId"])
        offrebs.append(f["offReb"])
        defrebs.append(f["defReb"])
        plusminus.append(f["plusMinus"])
        minutes.append(f["min"])

In [22]:
df3 = pd.DataFrame({
"Game": game_ids,
"Player Id": player_ids,
"Off Rebounds": offrebs,
"Def Rebounds": defrebs,
"+/-": plusminus,
"Min": minutes
})
df3.head()

  Game Player Id Off Rebounds Def Rebounds  +/-    Min
0   13        20            1            6    4  17:27
1   38        20            3            3   -7  26:27
2   73        20            2            1   -2  19:38
3   88        20            2            3   27  28:59
4  108        20            0            7  -11  33:04

In [23]:
df3[["Min", "Seg"]] = df3["Min"].str.split(":", expand = True)

In [24]:
df3.head()

  Game Player Id Off Rebounds Def Rebounds  +/- Min Seg
0   13        20            1            6    4  17  27
1   38        20            3            3   -7  26  27
2   73        20            2            1   -2  19  38
3   88        20            2            3   27  28  59
4  108        20            0            7  -11  33  04

In [25]:
df3["Off Rebounds"] = pd.to_numeric(df3["Off Rebounds"])
df3["Def Rebounds"] = pd.to_numeric(df3["Def Rebounds"])
df3["+/-"] = pd.to_numeric(df3["+/-"])
df3["Min"] = pd.to_numeric(df3["Min"])
df3["Seg"] = pd.to_numeric(df3["Seg"])
total_minutes = df3["Min"] + df3["Seg"]/60
df3["Minutes"] = total_minutes
weighed_plusminus = df3["+/-"]*df3["Minutes"]

In [26]:
df3["Minutes"] = total_minutes
df3["Weighed +/-"] = weighed_plusminus
df3.head()

,Game,Player Id,Off Rebounds,Def Rebounds,+/-,Min,Seg,Minutes,Weighed +/-
0,13,20,1.0,6.0,4.0,17.0,27.0,17.450000,69.800000
1,38,20,3.0,3.0,-7.0,26.0,27.0,26.450000,-185.150000
2,73,20,2.0,1.0,-2.0,19.0,38.0,19.633333,-39.266667
3,88,20,2.0,3.0,27.0,28.0,59.0,28.983333,782.550000
4,108,20,0.0,7.0,-11.0,33.0,4.0,33.066667,-363.733333

In [28]:
grouped_df3 = df3.groupby(["Player Id"])
grouped_players = grouped_df3.sum()
grouped_plusminus = grouped_df3["+/-"].mean()
grouped_minutes = grouped_df3["Minutes"].sum()
grouped_weighed = grouped_df3["Weighed +/-"].sum()

In [29]:
df4 = pd.merge(df2, grouped_players, on = "Player Id")
df5 = pd.merge(df4, grouped_plusminus, on = "Player Id")
df5["Factor"] = df5["Weighed +/-"]/df5["Games Played"]
df5[["Player Id", "Name", "Last Name", "Games Played", "Weighed +/-", "Factor"]]

   Player Id      Name      Last Name  Games Played   Weighed +/-     Factor
0         20   Giannis  Antetokounmpo           367  26358.500000  71.821526
1         59      Eric        Bledsoe           310  18584.733333  59.950753
2        115       Pat    Connaughton           392   9199.916667  23.469175
3        185       Pau          Gasol           311  11254.616667  36.188478
4        237    George           Hill           363  17522.100000  48.270248
5        257     Ersan       Ilyasova           363   6451.933333  17.773921
6        259    Damien         Inglis            56   -870.416667 -15.543155
7        269   Brandon       Jennings           183  -2086.650000 -11.402459
8        316       Jon          Leuer           266   -864.133333  -3.248622
9        323     Brook          Lopez           354  10828.916667  30.590160
10       325     Robin          Lopez           348  -4634.183333 -13.316619
11       341    Wesley       Matthews           325 -19819.133333 -60.981949
12       342      O.J.           Mayo            64    758.750000  11.855469
13       361     Khris      Middleton           317  28892.566667  91.143743
14       367    Nikola        Mirotic           321  18836.850000  58.681776
15       379   Shabazz       Muhammad           270  -5698.516667 -21.105617
16       425  Marshall        Plumlee            79    636.400000   8.055696
17       508     Jason          Terry           271   4744.216667  17.506335
18       751  Sterling          Brown           185    591.500000   3.197297
19       844    Jaylen         Morris            40   -890.083333 -22.252083
20       899      D.J.         Wilson           161   -409.100000  -2.540994
21       954    Bonzie         Colson            23   -130.783333  -5.686232
22       962     Donte     DiVincenzo            50   2839.733333  56.794667
23      1269    Jordan        Barnett             5    338.850000  67.770000
24      1273      Trae    Bell Haynes             5    261.400000  52.280000
25      1279     James   Blackmon Jr.            10    -17.066667  -1.706667
26      1308    Elijah         Bryant            11   -100.150000  -9.104545
27      1329        TJ          Cline            10     95.533333   9.553333
28      1485      Jock        Landale            14   -215.933333 -15.423810
29      1498    JeQuan          Lewis             5     -6.233333  -1.246667
30      1651    Travis       Trice II            16      6.933333   0.433333
31      1658     Craig         Victor             5     -3.433333  -0.686667
32      2121      Matt        Farrell             5    145.266667  29.053333
33      2137      Luke           Maye             5     80.933333  16.186667
34      2152    Rayjon         Tucker             5   -139.966667 -27.993333
35      2220      Kris        Clyburn             5      0.650000   0.130000
36      2221   Daulton         Hommes             5   -136.750000 -27.350000
37      2222  Fletcher          Magee             5    -95.150000 -19.030000

In [ ]:
games_list = []
points_list = []
min_list = []
fgm_list = []
fga_list = []
fgp_list = []
ftm_list = []
fta_list = []
ftp_list = []
tpm_list = []
tpa_list = []
tpp_list = []
off_list = []
def_list = []
tot_list = []
ass_list = []
fouls_list = []
steals_list = []
turns_list = []
blocks_list = []
plusminus_list = []

for x in player_statistics[0]:
    games_list.append(x["gameId"])
    points_list.append(x["points"])
    min_list.append(x["min"])
    fgm_list.append(x["fgm"])
    fga_list.append(x["fga"])
    fgp_list.append(x["fgp"])
    ftm_list.append(x["ftm"])
    fta_list.append(x["fta"])
    ftp_list.append(x["ftp"])
    tpm_list.append(x["tpm"])
    tpa_list.append(x["tpa"])
    tpp_list.append(x["tpp"])
    off_list.append(x["offReb"])
    def_list.append(x["defReb"])
    tot_list.append(x["totReb"])
    ass_list.append(x["assists"])
    fouls_list.append(x["pFouls"])
    steals_list.append(x["steals"])
    turns_list.append(x["turnovers"])
    blocks_list.append(x["blocks"])
    plusminus_list.append(x["plusMinus"])

In [ ]:
df5 = pd.DataFrame({
"Game": games_list,
"Points": points_list,
"Min": min_list,
"FGM": fgm_list,
"FGA": fga_list,
"FGP": fgp_list,
"FTM": ftm_list,
"FTA": fta_list,
"FTP": ftp_list,
"TPM": tpm_list,
"TPA": tpa_list,
"TPP": tpp_list,
"Offense": off_list,
"Defense": def_list,
"Total": tot_list,
"Fouls": fouls_list,
"Steals": steals_list,
"Turns": turns_list,
"Blocks": blocks_list,
"+/-": plusminus_list
})
df5.head(20)